/*----Hero----*/
.hero {
  text-align: left;
  margin-bottom: 2rem;
  align-items: left; 
}

.hero-text {
    color: #f9f9f9;
}

.repos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.grid { 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
}

.repo-card {
  background-color: var(--boxes);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.repo-card h3 {
  margin: 0 0 0.5rem;
}

.repo-card p {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #f9f9f9;
}

.repo-card span {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #f9f9f9;
}

.repo-meta {
  font-size: 0.8rem;
  color: #f9f9f9;
  margin-top: 0.5rem;
  display: flex;
}

.repo-card a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: bold;
  margin-top: 0.5rem;
}

.badge{
    color: #f9f9f9;
}

#toTop {
  position: fixed; 
  right: 1rem; 
  bottom: 1rem; 
  display: none;
  border: 1px solid var(--text); 
  background: var(--bg); 
  color: var(--background);
  border-radius: 999px; 
  width: 42px; 
  height: 42px; 
  cursor: pointer; 
  box-shadow: var(--shadow);
}

#toTop.show { 
  display: grid; 
  place-items: center; 
}