/*----Hero----*/
.hero {
  text-align: left;
  margin-bottom: 2rem;
  align-items: left; 
}

.hero-text {
    color: #f9f9f9;
}

.github-profile {
  display: flex;
  margin: auto;
  vertical-align: middle;
}

.github-link {
  display: flex;
  position: relative;
  pad: 2rem;
  margin-right: 0.5rem;
}

.icon-block.social-icon {
  margin-right: 1rem;
}

.logo-name {
  display: flex;
  vertical-align: middle;
  align-items:center;
}


.profile-stats {
  font-size: larger;
  font-weight: bold;
  size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  
}

.thesis-reference {
  margin-top: 1rem;
  border-left: 4px;
  border-right: 4px;
  border-color: var(--border);
  border-right-style: solid;
  border-left-style: solid;
  max-width: 500px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto; 
  margin-right: 0;
  text-align: left;
  padding:0;
  margin:0;
  justify-content: flex-end;
}


.github-profile-info{
  color: var(--brand);
  margin: auto;
  padding: 10px;
  float: left;
  margin-left: 5px;
  display: flex;
}

.github-profile-info p{
  color: var(--brand);
}


.icon-block.social-icon {
  fill: var(--brand);
  vertical-align: middle;
}

.social-media-icon-container {
  display: flex;
  max-width: 400px;
  justify-content: space-evenly;
  align-items:center;
  justify-content:space-between;
}

#abstract-head {
  margin: 2px;
}

#abstract {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.7rem;
}

.repos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.repo-card h3{
  color: var(--text);
}

.grid { 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
}

.repo-card {
  background-color: var(--boxes);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.repo-card h3 {
  margin: 0 0 0.5rem;
}

.repo-card p {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #f9f9f9;
}

.repo-card span {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #f9f9f9;
}

.repo-meta {
  font-size: 0.8rem;
  color: #f9f9f9;
  margin-top: 0.5rem;
  display: flex;
}

.repo-card a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: bold;
  margin-top: 0.5rem;
}

.badge{
    color: #f9f9f9;
}

#toTop {
  position: fixed; 
  right: 1rem; 
  bottom: 1rem; 
  display: none;
  border: 1px solid var(--text); 
  background: var(--bg); 
  color: var(--background);
  border-radius: 999px; 
  width: 42px; 
  height: 42px; 
  cursor: pointer; 
  box-shadow: var(--shadow);
}

#toTop.show { 
  display: grid; 
  place-items: center; 
}