span{
    color: #f9f9f9;
}

a:hover{
    text-decoration: underline; 
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.hero {
  text-align: center;
  margin-bottom: 2rem;
}

.hero-text {
    color: #f9f9f9;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.repos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.repo-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.repo-card h3 {
  margin: 0 0 0.5rem;
}

.repo-card p {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #f9f9f9;
}

.repo-card span {
  flex-grow: 1;
  font-size: 0.9rem;
  color: #f9f9f9;
}

.repo-meta {
  font-size: 0.8rem;
  color: #f9f9f9;
  margin-top: 0.5rem;
  display: flex;
}

.repo-card a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: bold;
  margin-top: 0.5rem;
}

.badge{
    color: #f9f9f9;
}

